// Colors
$black: #101216;
$white: #F7FAFF;
$gray: #CCC7C7;

$red: #A63D40;
$yellow: #E9B872;
$blue: #2A6CD6;
$orange: #F78018;


$overlay-black: rgba(0,0,0,0.5);
$overlay-white: rgba(225,225,225,0.5);
