// Colors
$black: #101216;
$white: #F7FAFF;
$gray: #CCC7C7;

$orange: #A63D40;
$blue: #E9B872;
$orange: #FFBA49;
$blue: #20A39E;


$overlay-black: rgba(0,0,0,0.5);
$overlay-white: rgba(225,225,225,0.5);
